.camera-container {
  text-align: center;
}
.snapshot {
  text-align: center;
}

.signature-pad-container {
  text-align: center;

  .wrapper {
    border: 1px solid #CCCCCC;
  }
}

.webcam-container {
  background-color: #000000;
}